<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.teerasej.NFApp" versionCode="10" version="1.0.0">
    <!-- versionCode is optional and Android only -->
    <name>NF App</name>
    <description>
        My first phonegap application
    </description>
    <author href="http://www.nextflow.in.th" email="teerasej@nextflow.in.th">
        Teerasej Jiraphatchandej
    </author>
    <icon src="res/icon/drawable-ldpi-icon.png" gap:platform="android" gap:qualifier="ldpi" />
    <icon src="res/icon/drawable-mdpi-icon.png" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="res/icon/drawable-hdpi-icon.png" gap:platform="android" gap:qualifier="hdpi" />
    <icon src="res/icon/drawable-xhdpi-icon.png" gap:platform="android" gap:qualifier="xhdpi" />
    <icon src="res/icon/drawable-xxhdpi-icon.png" gap:platform="android" gap:qualifier="xxhdpi" />
    <icon src="res/icon/drawable-xxxhdpi-icon.png" gap:platform="android" gap:qualifier="fr-xxhdpi" />

</widget>
